html[data-theme="light"]{
    --body-bg: #ffffff;
    --primary: #1b4053;
    --primary-deep: #112a3c;
    --secondary: #ceab93;
    --heading: #4b372e;
    --paragraph: #457882;
    --widget-menu: #1b5871;
    --border: #f3f3f3;
    --border-light: #BCBCBC;
    --menu-color: #0E0F1B;
    --white: #ffffff;
    --black: #000000;
    --white-parmanent: #ffffff;
    --light-gray: #F9F9F9;
    --foggy: #a2a3a3;
    --solitude: #eaf1f0;
    --footer-bg: #b58e73;
    --light-blue: #e8eff0;
    --chocolate: #4b2919;
    --chocolate-light: #a47b5d;
    --gray: #252525;
    --title: #d73632;
    --red: #b50702;
    --cookie: #eaddb2;
}
